name: Close PR Preview

on:
  pull_request_target:
    types: [closed]

jobs:
  Close-PR-Preview:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          ref: gh-pages

      - run: rm -r pr/${{ github.event.number }}

      - uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
